<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title><%= user.displayName %></title>
</head>

<body>
  <h1 class="title-page">Simple Chats</h1>
  <%- include('../partials/navbar.ejs') %>
  <h1 class="title-heading"><%= user.displayName %>'s Conversations</h1>
  <div class="flex">
    <div id="conversations-container" style="background-color: beige;height: 70vh;width: 150px;">
      <!-- select -->
      <% if(targetConversation) { %>
      <a href=""><%= targetConversation.name %></a>
      <% } %>
      <% if(conversations) { %>
      <% for(conv of conversations) { %>
      <a href="/user/<%= user._id %>/conversation/<%= conv._id %>"><%= conv.name %></a>
      <% }} %>
      <button type="button" onclick="location.href='/user/<%=user._id%>/conversation/new'">New Conversation</button>
    </div>
  </div>
</body>

</html>