<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <script defer src="/scripts/scroll-to-bottom.js"></script>
  <script defer src="/scripts/message-buttons.js"></script>
  <title><%= user.displayName %></title>
</head>

<body>
  <h1 class="title-page">Simple Chats</h1>
  <%- include('../partials/navbar.ejs') %>
  <h1 class="title-heading"><%= user.displayName %>'s Conversations</h1>
  <div class="flex">
    <div id="conversations-container" class="flex-column conversation-display">
      <div id="conversations-names">
        <p class="bold">Conversations</p>
        <% if(targetConversation) { %>
        <form action="/user/<%= user._id %>/conversations/<%= targetConversation._id %>?_method=DELETE" method="POST" class="flex-column gap5">
          <a href="">> <%= targetConversation.name %></a>
          <button type="submit" class="margin20">Delete</button>
        </form>
        <% } %>
        <% if(conversations) { %>
        <% for(conv of conversations) { %>
        <a href="/user/<%= user._id %>/conversations/<%= conv._id %>"><%= conv.name %></a>
        <% }} %>
      </div>
      <button type="button" onclick="location.href='/user/<%=user._id%>/conversations'">New Conversation</button>
    </div>
    <div class="message-container">
      <div class="message">
        <p class="message-timestamp">Messages did not exist before this</p>
      </div>
      <% if(targetConversation) { %>
      <% for(msg of targetConversation.messages) { %>
      <% let formAction; if(msg.userId.toString() === user._id.toString()){ formAction = `/user/${user._id}/conversations/${targetConversation._id}/${msg._id}?_method=DELETE`} else { formAction = ""} %>
      <form action="<%= formAction %>" method="POST" class="message">
        <% const msgWithBreak = msg.content.replace(/\n/g, "<br>") %>
        <% const username = targetUsers.find(usr => usr._id.toString() === msg.userId.toString()).displayName %>
        <p class="message-id" style="display: none !important;"><%= msg._id %></p>
        <p class="message-username"><%= username %></p>
        <p class="message-content"><%- msgWithBreak %></p>
        <p class="message-timestamp">Created: <%= msg.createdAt %> | LastUpdated: <%= msg.updatedAt %></p>
      </form>
      <% } %>
      <% } %>
    </div>
  </div>
  <!-- <div class="flex"> -->
  <!-- <div id="composition-spacer"></div> -->
  <% if (targetConversation) { %>
  <div id="composition-area">
    <form action="/user/<%= user._id %>/conversations/<%= targetConversation._id %>" method="POST" class="flex-column">
      <textarea name="content" id="message-box" placeholder="New Message"></textarea>
      <button type="submit" class="center-self">Send</button>
    </form>
  </div>
  <% } %>
  <!-- </div> -->
  <p id="displayName" class="hidden"><%= user.displayName %></p>
  <p id="userId" class="hidden"><%= user._id %></p>
  <% if (targetConversation) { %>
  <p id="targetConvId" class="hidden"><%= targetConversation._id %></p>
  <% } %>
  <%- include('../partials/edit-message.ejs') %>
</body>

</html>